#map{
    height: 100%;
    width: 100%;
    position: relative;
}

.popup{
    width: 100%;
    text-align: center;
}

.here{
    z-index: 100;
}

.op{
    position: absolute;
    top: 90px;
    left: 10px;
    z-index: 1000;
}